/* /* /*
h1
    margin-top: 3px;
    color: white;
    background-color: #006666;
    font-size: 24px;
h2
    background-color: #2A6197;
    color: white;
背景色黄色
    background-color: #FCFCD1;
背景色薄い青（テーブル）
    background-color: rgb(111, 181, 255);
背景色少し薄い青（テーブルth）
    background-color: #99CCFF;
    
*/
/*リセットCSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
h1 {
    margin-top: 3px;
    color: white;
    background-color: #006666;
    font-size: 24px;
}
h2{
    background-color: #2A6197;
    color: white;
} 
h3{
    font-weight: 100;
    color: white;
    background-color: teal;
}
a{
    text-decoration: none;
    color: black;
}

/* header place */
.header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: #006633;
}
.header-left {
display: flex;
}
.header-left-span {
display: flex;
padding-left: 5px;
}
.header-left-span span {
color: white;
padding-right: 12px;
}
.header-left-span span {
color: white;
}
.header-left-span span,
.header-left-span div {
margin-left: 10px;
}
.css-arrow-right { 
border-color: transparent transparent transparent black; 
border-style: solid; 
border-width: 6px 0px 6px 12px; 
height: 0; 
margin-left: 10px;
margin-right: 10px;
margin-top: 4px;
width: 0;
}
.header-right {
display: flex;
}
.color-gray{
    color: gray;
}
.button button{
    padding: 10px;
}
/* 案件検索 */
.anken-1{
    text-align: right;
}

table-header {
    margin-top: 30px;
    background-color: #B0D3F0;
}

.table-table {
    text-align: center;
}

.table-table td {
    border: 1px solid black;
    text-align: center;
    padding: 5px 12px 5px 12px;
}

.table-bg td{
    background-color: #99CCFF;
}

/* table footer */

.table-footer {
    display: flex;
    padding-left: 480px;
} 