* {
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px;
}

/* header place */
.header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: #006633;
}
.header-left {
  display: flex;
}
.header-left-span {
  display: flex;
  padding-left: 5px;
}
.header-left-span span {
  color: white;
  padding-right: 12px;
}
.header-left-span span {
  color: white;
}
.header-left-span span,
.header-left-span div {
  margin-left: 10px;
}
.css-arrow-right { 
  border-color: transparent transparent transparent black; 
  border-style: solid; 
  border-width: 6px 0px 6px 12px; 
  height: 0; 
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  width: 0;
}
.header-right {
  display: flex;
}
.color-gray{
    color: gray;
}
.rog{
    color: blue;
}
.midasi{
    background-color: rgb(21, 137, 116);
    color: white;
}
.tag{
    display: flex;
        background-color: rgb(27, 123, 174);
        color: white;
}
.red{
    color: red;
}
table{
    border-collapse: collapse;
}
table th{
    background-color: skyblue
}
.anken{
    display: flex;
    
}
.sin{
    height: 150px;
    width: 250px;
}
.kei{
    height: 150px;
    width: 440px;
}
.tan{
    width: 200px;
    height: 80px;
}
.mei{
    text-align: center;
}
.aka{
    background-color:#FFB6C1;
}
