/*
h1
    margin-top: 3px;
    color: white;
    background-color: #006666;
    font-size: 24px;
h2
    background-color: #2A6197;
    color: white;
背景色黄色
    background-color: #FCFCD1;
背景色すごく薄い青(テーブルtd)
    background-color: rgb(225, 251, 255);
背景色薄い青（テーブル）
    background-color: rgb(111, 181, 255);
背景色少し薄い青（テーブルth）
    background-color: #99CCFF;


*/
/*リセットCSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
  }
  /* テンプレート */
.wrap {
  display: flex;
} 
h1 {
    margin-top: 3px;
    color: white;
    background-color: #006666;
    font-size: 24px;
}
h2{
    background-color: #2A6197;
    color: white;
} 
a{
    text-decoration: none;
    color: black;
}
.hf button{
    padding: 15px;
}
.hf button a,.account-button button a{
  text-decoration: none;
  color: black;
}
.color-red{
    color: red;
}
.background-skyblue{
    background-color: #94C6F2;
}
.btn-template {

    padding: 0 15px;
}
.margin-right p,.margin-right select,.margin-right button{
    margin: 5px 2.5px;
}
/* header place */
.header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: #006633;
}
.header-left {
  display: flex;
}
.header-left-span {
  display: flex;
  padding-left: 5px;
}
.header-left-span span {
  color: white;
  padding-right: 12px;
}
.header-left-span span {
  color: white;
}
.header-left-span span,
.header-left-span div {
  margin-left: 10px;
}
.css-arrow-right { 
  border-color: transparent transparent transparent black; 
  border-style: solid; 
  border-width: 6px 0px 6px 12px; 
  height: 0; 
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  width: 0;
}
.header-right {
  display: flex;
}
.color-gray{
    color: gray;
}
/* 検索条件 */
.search-box{
    background-color: #FCFCD1;
}
.search-table .search-tr{
    height: 40px;
    line-height: 40px;
    margin-top: 2.5px;
}
.search-tr img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.search-tr input{
    margin: 0 2.5px;
    width: 140px;
}
.search-tr p{
    margin: 0 2.5px;
}
.search-tr .inner-box{
    display: flex;
    height: 30px;
    margin: auto 0;
}
.inner-box p{
    width: auto;
    padding: 0 2.5px;
    background-color: #94C6F2;
    line-height: 30px;
}
.search-table .search-th {
    background-color: #94C6F2;
    width: 100px;
    text-align: center;
}
.search-top{
    display: flex;
    height: 30px;
    margin: auto 0;
}
.search-top input{
    width: 120px;
}
.search-bottom{
    display: flex;
}
.search-bottom input{
    width: 15px;
}

/* 日程一覧 */
.vertical-box{
}
.vertical-box button{
    display: block;
}
.vertical-box select{
    display: block;
}


/* テーブル全体 */
table button a{
    padding: 2px 20px;
    text-decoration: none;
    color: black;
}
td,th {
    border: 1px solid gray;   /*セル内の線*/
}
.background-td{
    background-color: rgb(225, 251, 255);
}
.table-template2 .page a{
    margin-left: 5px;
}
.table .page a{
    margin-left: 5px;
    text-decoration-line: underline;
}
.a-none{
    color: blue;
    text-decoration: underline;
    margin-right: 5px;
}